<h1 class="page-header">Tracks Matching <%= params[:track_name] %></h1>
<ul style="list-style: none;">
 <% @track.each do |track| %>
   <li>&#9839 <%= track.name %> by
     <% track.artists.each do |t| %>
      <%=t.name %>
     <% end %>
     &#9835 <a href="<%= track.preview_url %>">Play</a>
     |
    <form style="display: inline-block;" action="/#" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" name="" value="Add to my favorite">
    </form>
   </li>
 <% end %>
</ul>
