<%= render "shared/menu" %>
<center>

<h1 class="page-header">Tracks Matching <%= params[:track_name] %></h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color:red"><%= e %></p>
  <% end %>
<% end %>
<ul style="list-style: none;">
 <% @track.each do |track| %>
    <div class="indextrack">
   <li> <a href="/tracks/<%= track.id %>"><%= track.name %></a>  by
     <% track.artists.each do |t| %>

      <%=t.name %>




    <br>
     <audio src="<%= track.preview_url %>" controls><br>


    <% end %>

     <form style="display:inline-block" action="/favtracks" method="post">
       <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
       <input type="hidden" name="favtrack[album_id]" value="<%= track.album.id %>">
       <input type="hidden" name="favtrack[name]" value="<%= track.name %>">
       <input type="hidden" name="favtrack[track_id]" value="<%= track.id %>">
       <input type="hidden" name="favtrack[album]" value="<%= track.album.name %>">
       <input type="hidden" name="favtrack[popularity]" value="<%= track.popularity %>">
       <input type="submit" name="" value="Favorite">
     </form>


Track Number:<%= track.track_number %> <br>
Song Popularity:<%= track.popularity %> <br>
</div>

 <% end %>
</ul>

  </div>
<style>
.indextrack{
  display:inline-block;
  height:350px;
  width:350px;
  border:5px solid black;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

</style>
</audio>
</li>
</ul>
</center>
