<h1><%= @track.name%> |</h1>
<% @track.artists.each do |artist| %>
<h2><a href="/artists/<%= artist.id %>"><%= artist.name %></a></h2>
<% end %>

<h2> <a href="/albums/<%= @track.album.id %>"><%= @track.album.name %></a> </h2>
<h2><%= @track.popularity %></h2>
