<h1><a href="<%= @track.preview_url %>"><%= @track.name%></a>  | <audio src="<%= @track.preview_url %>" controls> </h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color:red"><%= e %></p>
  <% end %>
<% end %>

<% @track.artists.each do |artist| %>
<h2><a href="/artists/<%= artist.id %>"><%= artist.name %></a> |
  <form style="display:inline-block" action="/favartist" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="favartist[artist_id]" value="<%= artist.id %>">
    <input type="hidden" name="favartist[name]" value="<%= artist.name %>">
    <input type="submit" name="" value="Favorite">
  </form>
</h2>

<% end %>

<h2>
  <a href="/albums/<%= @track.album.id %>"><%= @track.album.name %></a> |

</h2>
<h2><%= @track.popularity %></h2>
