<h1 class="page-header"><%= @artist.name %></h1>
<ul style="list-style: none;">
<% @artist.top_tracks(:US).take(5).each do |track| %>
 <li>&#9833<a href="<%= track.preview_url %>"><%= track.name %></a></li>
<% end %>
</ul>

<% @artist.albums(country: 'US').each do |album| %>
 <h3><a href="/albums/<%= album.id %>"><%= album.name %></a> </h3>
 <h4><%= album.type %></h4>
 <h4><%= album.genres %></h4>
 <% album.genres.each do |genres| %>
  <%= genres%>
 <% end %>
<% end %>
