<h1>Welcome <%= @user.username%></h1>


<%= form_for :post, url: '/post', :html => { :multipart => true } do |f| %>
<p><%=f.file_field :image %></p>
<%= f.submit %>
<% end %>


<%= :posts.image.url(:med)%>

<% content_for :left do %>
  <form class="" action="/searches" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Search:</label>
    <input type="text" name="search" value="">
    <input type="submit" name="" value="Search">
  </form>
<% end %>

<% content_for :middle do %>
  <h2>Favorite Tracks</h2>
  <table>
    <tr>
      <th>Track</th>
      <th>Artists</th>
      <th>Album</th>
      <th>Released Year</th>
    </tr>

    <tr>
      <td>Testing</td>
      <td>Testing</td>
      <td>Testing</td>
      <td>Testing</td>
    </tr>
  </table>

  <h2>Favorite Artists</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Genres</th>
      <th>Top Track</th>
    </tr>

    <% @favartist.each do |fa| %>
    <tr>
      <td><a href="/artists/<%= fa.artist_id %>"><%= fa.name %></a></td>
      <td><%= fa.artist_id %></td>
      <td>Testing</td>
    </tr>
    <% end %>
  </table>

  <h2>Favorite Albums</h2>
  <table>
    <tr>
      <th>Album</th>
      <th>Artist</th>
      <th>Genres</th>
      <th>Relased Year</th>
    </tr>
  </table>
<% end %>

<% content_for :right do%>
<h4>here we will have a box rendering the most popular songs</h4>
<% end %>
