<h1>
<%= @album.name %>|
<% @album.artists.each do |item| %>
<form style="display:inline-block" action="/favalbum" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="favalbum[album_id]" value="<%= @album.id %>">
  <input type="hidden" name="favalbum[name]" value="<%= @album.name %>">
  <input type="hidden" name="favalbum[artist]" value="<%= item.name %>">
  <input type="hidden" name="favalbum[releasedate]" value="<%= @album.release_date %>">
  <input type="hidden" name="favalbum[popularity]" value="<%= @album.popularity %>">
  <input type="hidden" name="favalbum[artist_id]" value="<%= item.id %>">
  <input type="submit" name="" value="Favorite">
</form>
<% end %>
</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color:red"><%= e %></p>
  <% end %>
<% end %>
<h3><%= @album.release_date %></h3>
<% @album.artists.each do |artist| %>
  <h3><a href="/artists/<%= artist.id %>"><%= artist.name %></a> </h3>
<% end %>

<% @album.images.take(1).each do |image| %>
  <img style="height:200px"src="<%= image["url"]%>" alt="<%= @album.name%>">
<% end %>


  <ul style="list-style: none">
    <% @album.tracks.each do |track| %>
    <h3><li>
       &#9833<a href="<%= track.preview_url %>"><%= track.name %></a> |
       <form style="display:inline-block" action="/favtracks" method="post">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="favtrack[album_id]" value="<%= track.album.id %>">
         <input type="hidden" name="favtrack[name]" value="<%= track.name %>">
         <input type="hidden" name="favtrack[track_id]" value="<%= track.id %>">
         <input type="hidden" name="favtrack[album]" value="<%= track.album.name %>">
         <input type="hidden" name="favtrack[popularity]" value="<%= track.popularity %>">
         <input type="submit" name="" value="Favorite">
       </form>
    </li></h3>
    <% end %>
  </ul>
