<!DOCTYPE html>
<html>
<head>
  <title>Soundhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  body{
    background-color:#211310;
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>
<script
        src="http://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
    <script type="text/javascript">   $(document).on('turbolinks:load',function(){
      $('.parallax').parallax();
    });</script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<body>

<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<% if flash[:errors]%>
  <% flash[:errors].each do |e|%>
    <%= e%>
  <%end%>
<%end%>


  <% if session[:user_id] %>
    <form action="/sessions/<%=session[:user_id]%>" method="post">


>>>>>>> parent of f39e011... added post model, post controller, installed paperclips
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  <% end %>
>>>>>>> cc232c9b2c1655809075655dd31166ff918586e7
=======
>>>>>>> parent of 01eb61b... revert 329154526d218cb9702a58203cfe66b05dfb3732

<%= yield %>


</body>
</html>
