<!DOCTYPE html>
<html>
<head>
  <title>Soundhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>
</head>
<body>

<% if flash[:errors]%>
  <% flash[:errors].each do |e|%>
    <%= e%>
  <%end%>
<%end%>


  <% if session[:user_id] %>
    <form action="/sessions/<%=session[:user_id]%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  <% end %>

<%= yield %>
</html>

</body>
</html>
