<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style media="screen">
  body{
    background-color:#211310;
  }
  body a{
    color:white;
    font-size:25px;
  }

      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th{

      font-weight:bolder;
    }

    td, th {
      border: 3px solid black;
      text-align: left;
      padding: 8px;
    }



  </style><script
        src="http://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<body>

<%= yield %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <%= yield :left %>
    </div>

    <div class="col-sm-12 col-md-6">
      <%= yield :middle %>
    </div>
    <div class="col-sm-12 col-md-3">
      <%= yield :right %>
    </div>

  </div>
</div>

</body>
</html>
